type: web
name: meet_your_neighbour
env: ruby
buildCommand: "./bin/render-build.sh"
startCommand: "bundle exec puma -C config/puma.rb"
envVars:
  - key: RAILS_MASTER_KEY
    sync: false
  - key: DATABASE_URL
    fromDatabase:
      name: meet_your_neighbour_db
      property: connectionString
  - key: WEB_CONCURRENCY
    value: 2
  - key: RAILS_MAX_THREADS
    value: 5
databases:
  - name: meet_your_neighbour_db
    databaseName: meet_your_neighbour_production
    user: meet_your_neighbour
